[user]
	name = Wilber Carrascal
	email = wilber.carrascal@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEm+HTmpCdkHTSgW/78H9MOIvO15El63TpaPlDKZ+Eyz
[gpg]
	format = ssh
[core]
	excludesfile = ~/.global_gitignore
	fsmonitor = true
	untrackedcache = true
[commit]
	gpgsign = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig-os-specific
[push]
	autoSetupRemote = true
