[commit]
	gpgsign = true
[core]
	excludesfile = ~/.global_gitignore
	fsmonitor = true
	untrackedcache = true
[fetch]
	prune = true
[gpg]
	format = ssh
[include]
	path = ~/.gitconfig-os-specific
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[rerere]
	autoUpdate = true
	enabled = true
[user]
	email = wilber.carrascal@gmail.com
	name = Wilber Carrascal
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEm+HTmpCdkHTSgW/78H9MOIvO15El63TpaPlDKZ+Eyz
