[core]
  excludesfile = ~/.global_gitignore
  fsmonitor = true
  untrackedcache = true
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig-os-specific
  path = ~/.config/gitconfig/accounts/identity
  path = ~/.config/gitconfig/signing
  path = ~/.config/gitconfig/ui
  path = ~/.config/gitconfig/workflow
  path = ~/.config/gitconfig/delta
